{
    "extends": "airbnb-base", 

    "rules": {
        "linebreak-style": 0,
        "func-names": ["error", "never"],
        "max-len": ["warn", 120],
        "comma-dangle": 0,
        "prefer-arrow-callback": 0,
        "object-shorthand": ["error", "never"],
        "no-else-return": 0,
        "no-underscore-dangle": 0,
        "no-param-reassign": 0,
        "no-console": 0
    }
}
